# Notebook created as a part of Capstone project

#### We simply use read_html method of pandas to obtain the list of tables from the wikipedia page.

In [8]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re
import numpy as np
from pandas.io.json import json_normalize
import ast

In [2]:
df = pd.DataFrame({'Locality Name': [], '1 BHk rent range': [], '1 BHk avg rent': [], '2 BHk rent range': [], 
                   '2 BHk avg rent': [], '3 BHk rent range': [], '3 BHk avg rent': []})

In [5]:
for i in range(1, 82):
    print(i)
    df2 = pd.read_html("https://www.makaan.com/price-trends/property-rates-for-rent-in-bangalore?page="+str(i))
    df2 = df2[0]
    df2.set_axis(['Locality Name', '1 BHk rent range', '1 BHk avg rent', '2 BHk rent range',
                 '2 BHk avg rent', '3 BHk rent range', '3 BHk avg rent'], axis=1, inplace=True)
    df = df.append(df2, ignore_index=True)

In [45]:
df = df_t.copy()

In [48]:
for i in range(df.shape[0]):
    if (df_t[i:i+1][['1 BHk rent range', '1 BHk avg rent', '2 BHk rent range', 
                   '2 BHk avg rent', '3 BHk rent range', '3 BHk avg rent']] == '-').all().all():
        df.drop(i, inplace=True)

In [49]:
df = df.reset_index().drop('index', axis=1)

In [3]:
df

,Unnamed: 0,Locality Name,1 BHk rent range,1 BHk avg rent,2 BHk rent range,2 BHk avg rent,3 BHk rent range,3 BHk avg rent
0,0,Whitefield,"6,000 - 25,000",11192.86,"12,000 - 25,000",17375,"30,000 - 49,000",39500
1,1,Anekal City,6300,6300,10000,10000,-,-
2,2,Jigani,"5,800 - 10,500",7466.67,14000,14000,11000,11000
3,3,Yelahanka,"6,500 - 18,000",10500,"10,000 - 15,000",11500,18500,18500
4,4,Horamavu,"5,000 - 23,000",10415.63,"10,000 - 20,000",15535.71,"15,000 - 42,000",23700
5,5,Whitefield Hope Farm Junction,"14,800 - 21,000",15914.29,18000,18000,"55,000 - 2 L",127500
6,6,Electronic City Phase 1,"5,000 - 11,000",757.14,5000,5000,"32,000 - 37,000",35000
7,7,Chandapura,4500,4500,"8,000 - 12,000",9666.67,7000,7000
8,8,Bellandur,13500,13500,"20,000 - 38,000",28884.62,30000,30000
9,9,Devanahalli,"13,000 - 40,000",26500,"12,000 - 22,000",16600,"45,000 - 60,000",49000
10,10,Electronic City Phase 2,"5,000 - 10,500",8296.88,16750,16750,"15,000 - 28,000",22730.77
11,11,KR Puram,"3,000 - 20,000",9728,"10,000 - 22,800",13453.33,14000,14000
12,12,Harlur,"10,000 - 20,000",14750,18000,18000,33000,33000
13,13,Budigere Cross,15000,15000,"18,000 - 23,000",20333.33,"20,000 - 80,000",32571.43
14,14,Varthur,"6,000 - 16,000",9690,"9,500 - 18,000",12900,"28,000 - 75,000",48333.33
15,15,Jakkur,"8,500 - 9,500",9000,"12,000 - 20,000",16000,"25,000 - 30,000",27500
16,16,Talaghattapura,-,-,"12,000 - 21,000",16400,18000,18000
17,17,Rajarajeshwari Nagar,"6,000 - 15,000",10050,"15,000 - 22,000",18000,"15,000 - 20,000",17500
18,18,Hoskote,"9,000 - 11,000",10000,"13,500 - 16,500",15000,"9,000 - 18,000",15000
19,19,Borewell Road,13000,13000,-,-,-,-
20,20,Marathahalli,"5,500 - 15,000",11187.5,"12,000 - 23,000",18666.67,33000,33000
21,21,Uttarahalli,-,-,12000,12000,"19,000 - 28,000",23666.67
22,22,Rajaji Nagar,"9,500 - 14,000",11500,"10,000 - 1.1 L",56717.95,22500,22500
23,23,Sarjapur Road,10000,10000,9000,9000,90000,90000
24,24,Banaswadi,"5,000 - 18,000",13509.09,"15,000 - 28,000",19500,"24,000 - 35,000",30500
25,25,Sarjapur,"10,000 - 13,500",11375,"10,000 - 30,000",15250,"20,000 - 30,000",24000
26,26,Thanisandra,"7,500 - 8,500",8000,"14,000 - 25,500",19125,22000,22000
27,27,Koramangala,"7,500 - 28,000",14181.82,"15,000 - 50,000",25909.09,"25,000 - 4 L",108000
28,28,Bommasandra,"8,500 - 9,000",8750,"6,500 - 12,000",8200,"17,000 - 30,000",21909.09
29,29,HSR Layout,"7,000 - 30,000",17583.33,"18,500 - 28,000",24450,50000,50000
...,...,...,...,...,...,...,...,...
2512,2512,Suddaguntapalya,9000,9000,-,-,-,-
2513,2513,Sultanpalya Main Road,-,-,16000,16000,-,-
2514,2514,Suncity BSM Extension,-,-,12000,12000,-,-
2515,2515,SVGNSS Layout,-,-,15000,15000,-,-
2516,2516,Syndicate Bank Colony,9500,9500,-,-,-,-
2517,2517,Talacauvery Housing Society Layout,-,-,36000,36000,-,-
2518,2518,Tech City Layout,-,-,18000,18000,-,-
2519,2519,Tejaswini Nagar Phase 2,-,-,-,-,20000,20000
2520,2520,Thanisandra Main Road Kothnu,-,-,24000,24000,-,-
2521,2521,Thigalarapalya,-,-,38000,38000,-,-
2522,2522,Thindlu Vidyaranyapura Road,-,-,14000,14000,-,-
2523,2523,Tilak Nagar Main Road,-,-,15000,15000,-,-
2524,2524,Ulsoor Road,-,-,45000,45000,-,-
2525,2525,University Road,15000,15000,-,-,-,-
2526,2526,Upkar Layout,-,-,24200,24200,-,-
2527,2527,V V Puram,-,-,-,-,22500,22500
2528,2528,Vagdevi Layout,12000,12000,-,-,-,-
2529,2529,Veerannapalya,10000,10000,-,-,-,-
2530,2530,Velankani Drive,-,-,-,-,36000,36000
2531,2531,Venkatadri Layout,-,-,-,-,30500,30500
2532,2532,Victorian View Entrance Road,18000,18000,-,-,-,-
2533,2533,Vijayarangam Layout,-,-,31000,31000,-,-
2534,2534,Vinayaka Nagar,-,-,23000,23000,-,-
2535,2535,Vivek Nagar,10000,10000,-,-,-,-
2536,2536,Vivekananda Colony,-,-,20000,20000,-,-
2537,2537,Wajid Layout,-,-,16900,16900,-,-
2538,2538,Whitefield Hagadur,16000,16000,-,-,-,-
2539,2539,Wind Tunnel Road,23000,23000,-,-,-,-
2540,2540,Yalappa Garden,-,-,22000,22000,-,-
2541,2541,Yelahanka 4th Phase Bangalore,-,-,11000,11000,-,-

In [51]:
df.to_csv('blr_localities.csv')

In [43]:
df['Latitude'] = list(np.zeros(df.shape[0]))
df['Longitude'] = list(np.zeros(df.shape[0]))

for i in range(df.shape[0]):
    locality = df['Locality Name'][i]
    #print(i, locality)
    url = 'https://www.google.com/search?q=' + '+'.join(locality.split(' ') + ['Bangalore', 'India', 'coordinates'])
    source = requests.get(url).text
    soup = BeautifulSoup(source, 'lxml')
    a = soup.prettify()
    p = re.compile('[0-9][0-9]\.[0-9][0-9][0-9][0-9]. N')
    q = re.compile('[0-9][0-9]\.[0-9][0-9][0-9][0-9]. E')
    lat = p.search(a)
    long = q.search(a)
    if lat is None:
        url = 'https://www.google.com/search?q=' + '+'.join(locality.split(' ') + ['Bangalore', 'coordinates'])
        source = requests.get(url).text
        soup = BeautifulSoup(source, 'lxml')
        a = soup.prettify()
        p = re.compile('[0-9][0-9]\.[0-9][0-9][0-9][0-9]. N')
        q = re.compile('[0-9][0-9]\.[0-9][0-9][0-9][0-9]. E')
        lat = p.search(a)
        long = q.search(a)
    if lat is not None and long is not None:
        lat = lat.group(0)
        long = long.group(0)
        lat = float(lat[:-3])
        long = float(long[:-3])
        df['Latitude'][i] = lat
        df['Longitude'][i] = long

2376 Kalkere Main
I said No No Biyatch Parlez vous Francais!!!
2377 Kallumantapa

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

2378 Kanshiram Nagar Main Road
I said No No Biyatch Parlez vous Francais!!!
2379 Kariyana Palya
I said No No Biyatch Parlez vous Francais!!!
2380 Karumariamman Road
I said No No Biyatch Parlez vous Francais!!!
2381 Kasavanahalli Main Road
I said No No Biyatch Parlez vous Francais!!!
2382 Kasturi Nagar Underpass
I said No No Biyatch Parlez vous Francais!!!
2383 Kathriguppe Banashankari 3rd Stage
2384 Katriguppa Main Road
2385 Kaval Bairasandra
2386 Kaverappa Layout
2387 Kempapura
2388 Kempe Gowda Nagar
2389 KG Colony GM Palya
I said No No Biyatch Parlez vous Francais!!!
2390 KHB Colony Extension
2391 KHB Main Road
I said No No Biyatch Parlez vous Francais!!!
2392 Kodichikknahalli Lake City
2393 Kodiyalam Road
I said No No Biyatch Parlez vous Francais!!!
2394 Koramangala 5th Block
2395 Koramangala Jakkasandra
2396 Kothnur Main Road
I said No No Biyatch Parlez vous Francais!!!
2397 Krishna Reddy Layout
2398 Krishnappa Garden
I said No No Biyatch Parlez vous Francais!!!
2399 Kudremukh Colony
2400 Kumaraswamy Layout II Stage
2401 Kundanahalli Lake Road
I said No No Biyatch Parlez vous Francais!!!
2402 Kuvempu Layout
2403 L B Shastry Nagar
I said No No Biyatch Parlez vous Francais!!!
2404 Lakkanna Compound
2405 Lakshmamma Layout
2406 Lakshminarayana Pura
2407 LB Shastri Nagar
2408 Lingarajasagara
2409 LN Puram
2410 Lords Steps Layout
2411 Lottegolla Halli
2412 LR Bande Cross Road
I said No No Biyatch Parlez vous Francais!!!
2413 M.C.Layout
2414 Madava Upanagara
2415 Madiwala
2416 Mahalakshmipuram Layout
2417 Manchapanahalli
2418 Manjunatha Nagar
2419 Manorayana Palya
2420 Manyata Residency Bengaluru
2421 Maragondanahalli Road
I said No No Biyatch Parlez vous Francais!!!
2422 MarathahalliSarjapur Outer Ring Road
I said No No Biyatch Parlez vous Francais!!!
2423 Mariyannapalya
2424 Marthi Nagar
2425 Maruthi HBCS Layout
I said No No Biyatch Parlez vous Francais!!!
2426 Maruthi Nagar Main Road
I said No No Biyatch Parlez vous Francais!!!
2427 MRCR Layout
2428 MS Ramaiah North City Manayata Tech Park
I said No No Biyatch Parlez vous Francais!!!
2429 Mudalapalya
2430 Munivenkatppa Layout
2431 Muthurayya Swamy Layout
2432 Naganathapura Main
I said No No Biyatch Parlez vous Francais!!!
2433 Nagarabhavi 1st Stage
2434 Nagasandra Main
I said No No Biyatch Parlez vous Francais!!!
2435 Nanjappa Thindlu Road
I said No No Biyatch Parlez vous Francais!!!
2436 Narayana Reddy Layout
2437 Nataraja Layout
2438 Navaratan Gardens
2439 New Baiyyappanahalli Extension
I said No No Biyatch Parlez vous Francais!!!
2440 New Bank Colony
2441 New BEL Rd
I said No No Biyatch Parlez vous Francais!!!
2442 Nrupatunga Nagar
2443 Off Electronic City
2444 Owners Court Layout
I said No No Biyatch Parlez vous Francais!!!
2445 Palm Kingdom Layout
2446 Pampa Extension
2447 Panathur Main Road Panathur
I said No No Biyatch Parlez vous Francais!!!
2448 Parijatha Layout
2449 Patel Narayanswamy Layout
2450 Pattegarhpalya
2451 Platinum City Bangalore
2452 Pragathi Layout
2453 Prashant Nagar
2454 Prashanth Nagar
2455 Pulikeshi Nagar
2456 Puttenahalli Phase 7
2457 Ragavendra Nagar
2458 rajajinagar
2459 Rajajinagar 5th Block
2460 Rajanna Layout
2461 Rajiv Gandhi Layout
2462 Ramachandrapura Dodabommasandra Road
I said No No Biyatch Parlez vous Francais!!!
2463 Ramamurthi Nagar Main Road
I said No No Biyatch Parlez vous Francais!!!
2464 Ramanashree Enclave
2465 Ramanjaneya Nagar
2466 Ranganatha Layout
2467 Ratan Singh Road
I said No No Biyatch Parlez vous Francais!!!
2468 Ravindra Nagar
2469 Reliaable Lifestyle Layout
2470 Reliable Residency Layout, Phase 3
I said No No Biyatch Parlez vous Francais!!!
2471 Remco Bhel Layout
I said No No Biyatch Parlez vous Francais!!!
2472 Renaissance HVV Villas
I said No No Biyatch Parlez vous Francais!!!
2473 Rest House Road
I said No No Biyatch Parlez vous Francais!!!
2474 Royal Lake Front Phase1 And 2
I said No No Biyatch Parlez vous Francais!!!
2475 Sai Baba Temple Road
I said No No Biyatch Parlez vous Francais!!!
2476 Sai Gardens
2477 Sai Sree Layout
2478 Samanahalli Road
I said No No Biyatch Parlez vous Francais!!!
2479 Sanvi Sankalpam Main Road
I said No No Biyatch Parlez vous Francais!!!
2480 Sarathynagar
2481 Seetharampalya Hoodi Road
I said No No Biyatch Parlez vous Francais!!!
2482 SG Palya Main Rd
I said No No Biyatch Parlez vous Francais!!!
2483 Shankarappa Layout
2484 Shanthi Layout Main Road
I said No No Biyatch Parlez vous Francais!!!
2485 Shanthi Pura
2486 Shastri Nagar
2487 shetty halli jalahalli west
I said No No Biyatch Parlez vous Francais!!!
2488 Shirdi Sai Nagar Bangalore
2489 Shivanahalli Village Road
I said No No Biyatch Parlez vous Francais!!!
2490 Shreyas Colony
2491 Siddhartha Layout
I said No No Biyatch Parlez vous Francais!!!
2492 Sidhi Vinayaka Layout
2493 Silicon Enclave Residential Layout
2494 Silk Board
2495 Sindhi Colony
2496 Singapura Village
2497 Somasandrapalya Main Road
I said No No Biyatch Parlez vous Francais!!!
2498 Someshvarapura Layout
2499 Sonnenahalli
2500 South End Road
I said No No Biyatch Parlez vous Francais!!!
2501 Spencer Road
I said No No Biyatch Parlez vous Francais!!!
2502 Spice Garden Road
2503 Sri Nivasa Reddy Layout
2504 Srigandada Kaval
I said No No Biyatch Parlez vous Francais!!!
2505 Srinidhi Layout 8th Phase
I said No No Biyatch Parlez vous Francais!!!
2506 Srinivas nagar
2507 Srinivasan Layout
2508 SSI Industrial Area
2509 Stage 1
2510 Subbannaiah Palya
2511 Subbannayapalya
2512 Suddaguntapalya
2513 Sultanpalya Main Road
I said No No Biyatch Parlez vous Francais!!!
2514 Suncity BSM Extension
2515 SVGNSS Layout
2516 Syndicate Bank Colony
2517 Talacauvery Housing Society Layout
I said No No Biyatch Parlez vous Francais!!!
2518 Tech City Layout
2519 Tejaswini Nagar Phase 2
I said No No Biyatch Parlez vous Francais!!!
2520 Thanisandra Main Road Kothnu
I said No No Biyatch Parlez vous Francais!!!
2521 Thigalarapalya
2522 Thindlu Vidyaranyapura Road
I said No No Biyatch Parlez vous Francais!!!
2523 Tilak Nagar Main Road
I said No No Biyatch Parlez vous Francais!!!
2524 Ulsoor Road
I said No No Biyatch Parlez vous Francais!!!
2525 University Road
I said No No Biyatch Parlez vous Francais!!!
2526 Upkar Layout
2527 V V Puram
2528 Vagdevi Layout
2529 Veerannapalya
2530 Velankani Drive
I said No No Biyatch Parlez vous Francais!!!
2531 Venkatadri Layout
2532 Victorian View Entrance Road
I said No No Biyatch Parlez vous Francais!!!
2533 Vijayarangam Layout
2534 Vinayaka Nagar
2535 Vivek Nagar
2536 Vivekananda Colony
2537 Wajid Layout
2538 Whitefield Hagadur
2539 Wind Tunnel Road
I said No No Biyatch Parlez vous Francais!!!
2540 Yalappa Garden
2541 Yelahanka 4th Phase Bangalore

In [47]:
df.to_csv('localities_with_coords.csv')

In [45]:
df = df[['Locality Name', '1 BHk rent range', '1 BHk avg rent', '2 BHk rent range', 
         '2 BHk avg rent', '3 BHk rent range', '3 BHk avg rent', 'Latitude', 'Longitude']]

In [46]:
df

,Locality Name,1 BHk rent range,1 BHk avg rent,2 BHk rent range,2 BHk avg rent,3 BHk rent range,3 BHk avg rent,Latitude,Longitude
0,Whitefield,"6,000 - 25,000",11192.86,"12,000 - 25,000",17375,"30,000 - 49,000",39500,12.9698,77.7500
1,Anekal City,6300,6300,10000,10000,-,-,12.7105,77.6911
2,Jigani,"5,800 - 10,500",7466.67,14000,14000,11000,11000,12.7791,77.6436
3,Yelahanka,"6,500 - 18,000",10500,"10,000 - 15,000",11500,18500,18500,13.1186,77.5975
4,Horamavu,"5,000 - 23,000",10415.63,"10,000 - 20,000",15535.71,"15,000 - 42,000",23700,13.0326,77.6583
5,Whitefield Hope Farm Junction,"14,800 - 21,000",15914.29,18000,18000,"55,000 - 2 L",127500,12.9838,77.7525
6,Electronic City Phase 1,"5,000 - 11,000",757.14,5000,5000,"32,000 - 37,000",35000,12.8431,77.6565
7,Chandapura,4500,4500,"8,000 - 12,000",9666.67,7000,7000,12.8005,77.7139
8,Bellandur,13500,13500,"20,000 - 38,000",28884.62,30000,30000,12.9304,77.6784
9,Devanahalli,"13,000 - 40,000",26500,"12,000 - 22,000",16600,"45,000 - 60,000",49000,13.1508,77.7088
10,Electronic City Phase 2,"5,000 - 10,500",8296.88,16750,16750,"15,000 - 28,000",22730.77,12.8441,77.6794
11,KR Puram,"3,000 - 20,000",9728,"10,000 - 22,800",13453.33,14000,14000,13.0170,77.7044
12,Harlur,"10,000 - 20,000",14750,18000,18000,33000,33000,12.9017,77.6605
13,Budigere Cross,15000,15000,"18,000 - 23,000",20333.33,"20,000 - 80,000",32571.43,13.0638,77.7456
14,Varthur,"6,000 - 16,000",9690,"9,500 - 18,000",12900,"28,000 - 75,000",48333.33,12.9389,77.7412
15,Jakkur,"8,500 - 9,500",9000,"12,000 - 20,000",16000,"25,000 - 30,000",27500,13.0631,77.6207
16,Talaghattapura,-,-,"12,000 - 21,000",16400,18000,18000,12.8691,77.5342
17,Rajarajeshwari Nagar,"6,000 - 15,000",10050,"15,000 - 22,000",18000,"15,000 - 20,000",17500,12.9149,77.5206
18,Hoskote,"9,000 - 11,000",10000,"13,500 - 16,500",15000,"9,000 - 18,000",15000,13.0693,77.7982
19,Borewell Road,13000,13000,-,-,-,-,0.0000,0.0000
20,Marathahalli,"5,500 - 15,000",11187.5,"12,000 - 23,000",18666.67,33000,33000,12.9569,77.7011
21,Uttarahalli,-,-,12000,12000,"19,000 - 28,000",23666.67,12.9070,77.5521
22,Rajaji Nagar,"9,500 - 14,000",11500,"10,000 - 1.1 L",56717.95,22500,22500,12.9982,77.5530
23,Sarjapur Road,10000,10000,9000,9000,90000,90000,0.0000,0.0000
24,Banaswadi,"5,000 - 18,000",13509.09,"15,000 - 28,000",19500,"24,000 - 35,000",30500,13.0104,77.6482
25,Sarjapur,"10,000 - 13,500",11375,"10,000 - 30,000",15250,"20,000 - 30,000",24000,12.8549,77.7881
26,Thanisandra,"7,500 - 8,500",8000,"14,000 - 25,500",19125,22000,22000,13.0559,77.6325
27,Koramangala,"7,500 - 28,000",14181.82,"15,000 - 50,000",25909.09,"25,000 - 4 L",108000,12.9352,77.6244
28,Bommasandra,"8,500 - 9,000",8750,"6,500 - 12,000",8200,"17,000 - 30,000",21909.09,12.8167,77.6974
29,HSR Layout,"7,000 - 30,000",17583.33,"18,500 - 28,000",24450,50000,50000,12.9121,77.6446
...,...,...,...,...,...,...,...,...,...
2512,Suddaguntapalya,9000,9000,-,-,-,-,12.9828,77.6550
2513,Sultanpalya Main Road,-,-,16000,16000,-,-,0.0000,0.0000
2514,Suncity BSM Extension,-,-,12000,12000,-,-,12.9148,77.4745
2515,SVGNSS Layout,-,-,15000,15000,-,-,12.9959,77.5372
2516,Syndicate Bank Colony,9500,9500,-,-,-,-,12.8839,77.5952
2517,Talacauvery Housing Society Layout,-,-,36000,36000,-,-,0.0000,0.0000
2518,Tech City Layout,-,-,18000,18000,-,-,12.8459,77.6490
2519,Tejaswini Nagar Phase 2,-,-,-,-,20000,20000,0.0000,0.0000
2520,Thanisandra Main Road Kothnu,-,-,24000,24000,-,-,0.0000,0.0000
2521,Thigalarapalya,-,-,38000,38000,-,-,13.0168,77.4802
2522,Thindlu Vidyaranyapura Road,-,-,14000,14000,-,-,0.0000,0.0000
2523,Tilak Nagar Main Road,-,-,15000,15000,-,-,0.0000,0.0000
2524,Ulsoor Road,-,-,45000,45000,-,-,0.0000,0.0000
2525,University Road,15000,15000,-,-,-,-,0.0000,0.0000
2526,Upkar Layout,-,-,24200,24200,-,-,12.9640,77.4838
2527,V V Puram,-,-,-,-,22500,22500,12.9537,77.5777
2528,Vagdevi Layout,12000,12000,-,-,-,-,12.9469,77.7123
2529,Veerannapalya,10000,10000,-,-,-,-,13.0412,77.6124
2530,Velankani Drive,-,-,-,-,36000,36000,0.0000,0.0000
2531,Venkatadri Layout,-,-,-,-,30500,30500,12.8977,77.5967
2532,Victorian View Entrance Road,18000,18000,-,-,-,-,0.0000,0.0000
2533,Vijayarangam Layout,-,-,31000,31000,-,-,12.9363,77.5766
2534,Vinayaka Nagar,-,-,23000,23000,-,-,12.9633,77.6792
2535,Vivek Nagar,10000,10000,-,-,-,-,12.9545,77.6191
2536,Vivekananda Colony,-,-,20000,20000,-,-,12.9119,77.5722
2537,Wajid Layout,-,-,16900,16900,-,-,13.0606,77.6344
2538,Whitefield Hagadur,16000,16000,-,-,-,-,12.9649,77.7573
2539,Wind Tunnel Road,23000,23000,-,-,-,-,0.0000,0.0000
2540,Yalappa Garden,-,-,22000,22000,-,-,13.0008,77.5727
2541,Yelahanka 4th Phase Bangalore,-,-,11000,11000,-,-,13.1052,77.5714

In [48]:
df_t = df.copy()

In [57]:
for i in range(df_t.shape[0]):
    if (df_t[i:i+1]['Latitude'] == 0).all():
        df.drop(i, inplace=True)

In [59]:
df = df.reset_index().drop('index', axis=1)

In [60]:
df

,Locality Name,1 BHk rent range,1 BHk avg rent,2 BHk rent range,2 BHk avg rent,3 BHk rent range,3 BHk avg rent,Latitude,Longitude
0,Whitefield,"6,000 - 25,000",11192.86,"12,000 - 25,000",17375,"30,000 - 49,000",39500,12.9698,77.7500
1,Anekal City,6300,6300,10000,10000,-,-,12.7105,77.6911
2,Jigani,"5,800 - 10,500",7466.67,14000,14000,11000,11000,12.7791,77.6436
3,Yelahanka,"6,500 - 18,000",10500,"10,000 - 15,000",11500,18500,18500,13.1186,77.5975
4,Horamavu,"5,000 - 23,000",10415.63,"10,000 - 20,000",15535.71,"15,000 - 42,000",23700,13.0326,77.6583
5,Whitefield Hope Farm Junction,"14,800 - 21,000",15914.29,18000,18000,"55,000 - 2 L",127500,12.9838,77.7525
6,Electronic City Phase 1,"5,000 - 11,000",757.14,5000,5000,"32,000 - 37,000",35000,12.8431,77.6565
7,Chandapura,4500,4500,"8,000 - 12,000",9666.67,7000,7000,12.8005,77.7139
8,Bellandur,13500,13500,"20,000 - 38,000",28884.62,30000,30000,12.9304,77.6784
9,Devanahalli,"13,000 - 40,000",26500,"12,000 - 22,000",16600,"45,000 - 60,000",49000,13.1508,77.7088
10,Electronic City Phase 2,"5,000 - 10,500",8296.88,16750,16750,"15,000 - 28,000",22730.77,12.8441,77.6794
11,KR Puram,"3,000 - 20,000",9728,"10,000 - 22,800",13453.33,14000,14000,13.0170,77.7044
12,Harlur,"10,000 - 20,000",14750,18000,18000,33000,33000,12.9017,77.6605
13,Budigere Cross,15000,15000,"18,000 - 23,000",20333.33,"20,000 - 80,000",32571.43,13.0638,77.7456
14,Varthur,"6,000 - 16,000",9690,"9,500 - 18,000",12900,"28,000 - 75,000",48333.33,12.9389,77.7412
15,Jakkur,"8,500 - 9,500",9000,"12,000 - 20,000",16000,"25,000 - 30,000",27500,13.0631,77.6207
16,Talaghattapura,-,-,"12,000 - 21,000",16400,18000,18000,12.8691,77.5342
17,Rajarajeshwari Nagar,"6,000 - 15,000",10050,"15,000 - 22,000",18000,"15,000 - 20,000",17500,12.9149,77.5206
18,Hoskote,"9,000 - 11,000",10000,"13,500 - 16,500",15000,"9,000 - 18,000",15000,13.0693,77.7982
19,Marathahalli,"5,500 - 15,000",11187.5,"12,000 - 23,000",18666.67,33000,33000,12.9569,77.7011
20,Uttarahalli,-,-,12000,12000,"19,000 - 28,000",23666.67,12.9070,77.5521
21,Rajaji Nagar,"9,500 - 14,000",11500,"10,000 - 1.1 L",56717.95,22500,22500,12.9982,77.5530
22,Banaswadi,"5,000 - 18,000",13509.09,"15,000 - 28,000",19500,"24,000 - 35,000",30500,13.0104,77.6482
23,Sarjapur,"10,000 - 13,500",11375,"10,000 - 30,000",15250,"20,000 - 30,000",24000,12.8549,77.7881
24,Thanisandra,"7,500 - 8,500",8000,"14,000 - 25,500",19125,22000,22000,13.0559,77.6325
25,Koramangala,"7,500 - 28,000",14181.82,"15,000 - 50,000",25909.09,"25,000 - 4 L",108000,12.9352,77.6244
26,Bommasandra,"8,500 - 9,000",8750,"6,500 - 12,000",8200,"17,000 - 30,000",21909.09,12.8167,77.6974
27,HSR Layout,"7,000 - 30,000",17583.33,"18,500 - 28,000",24450,50000,50000,12.9121,77.6446
28,Mahadevapura,"5,000 - 17,000",10500,"9,500 - 22,000",16333.33,28000,28000,12.9880,77.6895
29,Horamavu Agara,11800,11800,17800,17800,20800,20800,13.0411,77.6622
...,...,...,...,...,...,...,...,...,...
1870,Singapura Village,-,-,10000,10000,-,-,13.0807,77.5363
1871,Someshvarapura Layout,13500,13500,-,-,-,-,12.9697,77.6314
1872,Sonnenahalli,-,-,14000,14000,-,-,13.0150,77.7381
1873,Spice Garden Road,8500,8500,-,-,-,-,12.9580,77.7089
1874,Sri Nivasa Reddy Layout,-,-,32000,32000,-,-,12.9650,77.7116
1875,Srinivas nagar,-,-,16000,16000,-,-,12.9356,77.5548
1876,Srinivasan Layout,-,-,17000,17000,-,-,12.9187,77.5397
1877,SSI Industrial Area,11000,11000,-,-,-,-,12.9813,77.5580
1878,Stage 1,11235,11235,-,-,-,-,12.9800,77.6400
1879,Subbannaiah Palya,-,-,17000,17000,-,-,13.0096,77.6386
1880,Subbannayapalya,-,-,-,-,20000,20000,13.0109,77.6439
1881,Suddaguntapalya,9000,9000,-,-,-,-,12.9828,77.6550
1882,Suncity BSM Extension,-,-,12000,12000,-,-,12.9148,77.4745
1883,SVGNSS Layout,-,-,15000,15000,-,-,12.9959,77.5372
1884,Syndicate Bank Colony,9500,9500,-,-,-,-,12.8839,77.5952
1885,Tech City Layout,-,-,18000,18000,-,-,12.8459,77.6490
1886,Thigalarapalya,-,-,38000,38000,-,-,13.0168,77.4802
1887,Upkar Layout,-,-,24200,24200,-,-,12.9640,77.4838
1888,V V Puram,-,-,-,-,22500,22500,12.9537,77.5777
1889,Vagdevi Layout,12000,12000,-,-,-,-,12.9469,77.7123
1890,Veerannapalya,10000,10000,-,-,-,-,13.0412,77.6124
1891,Venkatadri Layout,-,-,-,-,30500,30500,12.8977,77.5967
1892,Vijayarangam Layout,-,-,31000,31000,-,-,12.9363,77.5766
1893,Vinayaka Nagar,-,-,23000,23000,-,-,12.9633,77.6792
1894,Vivek Nagar,10000,10000,-,-,-,-,12.9545,77.6191
1895,Vivekananda Colony,-,-,20000,20000,-,-,12.9119,77.5722
1896,Wajid Layout,-,-,16900,16900,-,-,13.0606,77.6344
1897,Whitefield Hagadur,16000,16000,-,-,-,-,12.9649,77.7573
1898,Yalappa Garden,-,-,22000,22000,-,-,13.0008,77.5727
1899,Yelahanka 4th Phase Bangalore,-,-,11000,11000,-,-,13.1052,77.5714

In [61]:
df.to_csv('localities_with_coords_filtered.csv')

In [179]:
CLIENT_ID = 'IXYG0AMMRTIFX4CTNFQCV35CY3PG5RW3MZNYYG14OMPDTM4T'
CLIENT_SECRET = 'VNSQQELLJYESXVU4ETENXNCEFGZVGMWCH4LZ3UO3103SCCUD'
VERSION = '20190605'

In [75]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [ ]:
categ_list = []

df = pd.read_csv('localities_with_coords_filtered.csv')
df['Venues'] = [[]] * df.shape[0]

for i in range(990, 996):
    
    latitude = df[i:i+1]['Latitude'][i]
    longitude = df[i:i+1]['Longitude'][i]
    LIMIT = 100
    radius = 800
    
    print(i)

    url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
        CLIENT_ID, 
        CLIENT_SECRET, 
        VERSION, 
        latitude, 
        longitude, 
        radius, 
        LIMIT)

    results = requests.get(url).json()

    venues = results['response']['groups'][0]['items']

    nearby_venues = json_normalize(venues) # flatten JSON
    
    if not nearby_venues.empty:
        
        # filter columns
        filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']

        nearby_venues =nearby_venues.loc[:, filtered_columns]

        # filter the category for each row
        nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

        # clean columns
        nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]
        
        df.at[i, 'Venues'] = list(nearby_venues['categories'])

        categ_list = list(set(categ_list + list(nearby_venues['categories'])))
    
    else:
        
        df.at[i, 'Venues'] = []

In [197]:
df.to_csv('localities_with_venues.csv')

In [196]:
df = pd.read_csv('localities_with_venues.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)
df

,Locality Name,1 BHk rent range,1 BHk avg rent,2 BHk rent range,2 BHk avg rent,3 BHk rent range,3 BHk avg rent,Latitude,Longitude,Venues
0,Whitefield,"6,000 - 25,000",11192.86,"12,000 - 25,000",17375,"30,000 - 49,000",39500,12.9698,77.7500,"['Eastern European Restaurant', 'Gym / Fitness..."
1,Anekal City,6300,6300,10000,10000,-,-,12.7105,77.6911,['ATM']
2,Jigani,"5,800 - 10,500",7466.67,14000,14000,11000,11000,12.7791,77.6436,"['Hotel', 'Indian Restaurant']"
3,Yelahanka,"6,500 - 18,000",10500,"10,000 - 15,000",11500,18500,18500,13.1186,77.5975,[]
4,Horamavu,"5,000 - 23,000",10415.63,"10,000 - 20,000",15535.71,"15,000 - 42,000",23700,13.0326,77.6583,"['Athletics & Sports', 'Warehouse Store', 'Chi..."
5,Whitefield Hope Farm Junction,"14,800 - 21,000",15914.29,18000,18000,"55,000 - 2 L",127500,12.9838,77.7525,"['Vegetarian / Vegan Restaurant', 'Hotel', 'Ic..."
6,Electronic City Phase 1,"5,000 - 11,000",7570.14,5000,5000,"32,000 - 37,000",35000,12.8431,77.6565,"['Asian Restaurant', 'Pizza Place', 'CafÃ©', 'D..."
7,Chandapura,4500,4500,"8,000 - 12,000",9666.67,7000,7000,12.8005,77.7139,"['Indian Restaurant', 'Department Store', 'Res..."
8,Bellandur,13500,13500,"20,000 - 38,000",28884.62,30000,30000,12.9304,77.6784,"['Soccer Field', 'Hotel', 'Lounge', 'Fast Food..."
9,Devanahalli,"13,000 - 40,000",26500,"12,000 - 22,000",16600,"45,000 - 60,000",49000,13.1508,77.7088,[]
10,Electronic City Phase 2,"5,000 - 10,500",8296.88,16750,16750,"15,000 - 28,000",22730.77,12.8441,77.6794,"['Basketball Court', 'Toll Plaza', 'CafÃ©', 'Ou..."
11,KR Puram,"3,000 - 20,000",9728,"10,000 - 22,800",13453.33,14000,14000,13.0170,77.7044,"['Indian Restaurant', 'Pizza Place', 'Indian R..."
12,Harlur,"10,000 - 20,000",14750,18000,18000,33000,33000,12.9017,77.6605,"['Lake', 'North Indian Restaurant', 'Flea Mark..."
13,Budigere Cross,15000,15000,"18,000 - 23,000",20333.33,"20,000 - 80,000",32571.43,13.0638,77.7456,['Cupcake Shop']
14,Varthur,"6,000 - 16,000",9690,"9,500 - 18,000",12900,"28,000 - 75,000",48333.33,12.9389,77.7412,"['Indie Movie Theater', 'Indian Restaurant']"
15,Jakkur,"8,500 - 9,500",9000,"12,000 - 20,000",16000,"25,000 - 30,000",27500,13.0631,77.6207,"['Badminton Court', 'Sports Club', 'Vegetarian..."
16,Talaghattapura,-,-,"12,000 - 21,000",16400,18000,18000,12.8691,77.5342,"['Indian Restaurant', 'Scenic Lookout', 'India..."
17,Rajarajeshwari Nagar,"6,000 - 15,000",10050,"15,000 - 22,000",18000,"15,000 - 20,000",17500,12.9149,77.5206,"['CafÃ©', 'Indian Restaurant', 'Bakery', 'CafÃ©'..."
18,Hoskote,"9,000 - 11,000",10000,"13,500 - 16,500",15000,"9,000 - 18,000",15000,13.0693,77.7982,[]
19,Marathahalli,"5,500 - 15,000",11187.5,"12,000 - 23,000",18666.67,33000,33000,12.9569,77.7011,"['Kerala Restaurant', 'Indian Restaurant', 'Ve..."
20,Uttarahalli,-,-,12000,12000,"19,000 - 28,000",23666.67,12.9070,77.5521,"['Bakery', 'Pizza Place', 'CafÃ©', 'Indian Rest..."
21,Rajaji Nagar,"9,500 - 14,000",11500,"10,000 - 1.1 L",56717.95,22500,22500,12.9982,77.5530,"['Fast Food Restaurant', 'Bakery', 'Vegetarian..."
22,Banaswadi,"5,000 - 18,000",13509.09,"15,000 - 28,000",19500,"24,000 - 35,000",30500,13.0104,77.6482,"['Indian Restaurant', 'Bakery', 'Vegetarian / ..."
23,Sarjapur,"10,000 - 13,500",11375,"10,000 - 30,000",15250,"20,000 - 30,000",24000,12.8549,77.7881,['Movie Theater']
24,Thanisandra,"7,500 - 8,500",8000,"14,000 - 25,500",19125,22000,22000,13.0559,77.6325,"['Pharmacy', 'Restaurant', 'Gas Station', 'Ind..."
25,Koramangala,"7,500 - 28,000",14181.82,"15,000 - 50,000",25909.09,"25,000 - 4 L",108000,12.9352,77.6244,"['Fast Food Restaurant', 'Breakfast Spot', 'Ca..."
26,Bommasandra,"8,500 - 9,000",8750,"6,500 - 12,000",8200,"17,000 - 30,000",21909.09,12.8167,77.6974,"['Sporting Goods Shop', 'Electronics Store']"
27,HSR Layout,"7,000 - 30,000",17583.33,"18,500 - 28,000",24450,50000,50000,12.9121,77.6446,"['Snack Place', 'Pizza Place', 'Pub', 'CafÃ©', ..."
28,Mahadevapura,"5,000 - 17,000",10500,"9,500 - 22,000",16333.33,28000,28000,12.9880,77.6895,"['Department Store', 'Coffee Shop', 'Bus Stati..."
29,Horamavu Agara,11800,11800,17800,17800,20800,20800,13.0411,77.6622,['Athletics & Sports']
...,...,...,...,...,...,...,...,...,...,...
1870,Singapura Village,-,-,10000,10000,-,-,13.0807,77.5363,"['Pharmacy', 'Bus Station', 'Pharmacy', 'Outdo..."
1871,Someshvarapura Layout,13500,13500,-,-,-,-,12.9697,77.6314,"['Indian Restaurant', 'Ice Cream Shop', 'Bar',..."
1872,Sonnenahalli,-,-,14000,14000,-,-,13.0150,77.7381,[]
1873,Spice Garden Road,8500,8500,-,-,-,-,12.9580,77.7089,"['Indian Restaurant', 'Ice Cream Shop', 'India..."
1874,Sri Nivasa Reddy Layout,-,-,32000,32000,-,-,12.9650,77.7116,"['Ice Cream Shop', 'Indian Restaurant', 'Desse..."
1875,Srinivas nagar,-,-,16000,16000,-,-,12.9356,77.5548,"['Vegetarian / Vegan Restaurant', 'Fast Food R..."
1876,Srinivasan Layout,-,-,17000,17000,-,-,12.9187,77.5397,"['Pizza Place', 'Snack Place', 'Department Sto..."
1877,SSI Industrial Area,11000,11000,-,-,-,-,12.9813,77.5580,"['Indian Restaurant', 'Hotel', 'Indian Restaur..."
1878,Stage 1,11235,11235,-,-,-,-,12.9800,77.6400,"['Brewery', 'CafÃ©', 'Boutique', 'Bakery', 'Coc..."
1879,Subbannaiah Palya,-,-,17000,17000,-,-,13.0096,77.6386,"['Falafel Restaurant', 'Kerala Restaurant', 'B..."
1880,Subbannayapalya,-,-,-,-,20000,20000,13.0109,77.6439,"['Falafel Restaurant', 'Bakery', 'Indian Resta..."
1881,Suddaguntapalya,9000,9000,-,-,-,-,12.9828,77.6550,"['Coffee Shop', 'Sandwich Place', 'Shopping Ma..."
1882,Suncity BSM Extension,-,-,12000,12000,-,-,12.9148,77.4745,"['CafÃ©', 'Chinese Restaurant', 'Bus Station']"
1883,SVGNSS Layout,-,-,15000,15000,-,-,12.9959,77.5372,"['Liquor Store', 'Fast Food Restaurant', 'Ice ..."
1884,Syndicate Bank Colony,9500,9500,-,-,-,-,12.8839,77.5952,"['Sporting Goods Shop', 'Department Store', 'P..."
1885,Tech City Layout,-,-,18000,18000,-,-,12.8459,77.6490,"['Multicuisine Indian Restaurant', 'Kerala Res..."
1886,Thigalarapalya,-,-,38000,38000,-,-,13.0168,77.4802,[]
1887,Upkar Layout,-,-,24200,24200,-,-,12.9640,77.4838,"['Lake', 'Park']"
1888,V V Puram,-,-,-,-,22500,22500,12.9537,77.5777,"['Bakery', 'Snack Place', 'Indian Restaurant',..."
1889,Vagdevi Layout,12000,12000,-,-,-,-,12.9469,77.7123,"['Bus Station', 'Shopping Mall', 'Bus Station'..."
1890,Veerannapalya,10000,10000,-,-,-,-,13.0412,77.6124,"['Coffee Shop', 'Hotel', 'Lake', 'Buffet', 'La..."
1891,Venkatadri Layout,-,-,-,-,30500,30500,12.8977,77.5967,"['Indian Restaurant', 'Ice Cream Shop', 'Offic..."
1892,Vijayarangam Layout,-,-,31000,31000,-,-,12.9363,77.5766,"['Indian Restaurant', 'Restaurant', 'Indian Re..."
1893,Vinayaka Nagar,-,-,23000,23000,-,-,12.9633,77.6792,"['Lake', 'Bakery', 'Salon / Barbershop']"
1894,Vivek Nagar,10000,10000,-,-,-,-,12.9545,77.6191,"['CafÃ©', 'Indie Movie Theater', 'Bus Station',..."
1895,Vivekananda Colony,-,-,20000,20000,-,-,12.9119,77.5722,"['Breakfast Spot', 'Indian Restaurant', 'India..."
1896,Wajid Layout,-,-,16900,16900,-,-,13.0606,77.6344,"['Pharmacy', 'Restaurant', 'Department Store',..."
1897,Whitefield Hagadur,16000,16000,-,-,-,-,12.9649,77.7573,"['Brewery', 'Eastern European Restaurant', 'Br..."
1898,Yalappa Garden,-,-,22000,22000,-,-,13.0008,77.5727,"['Snack Place', 'Indian Restaurant', 'Indian R..."
1899,Yelahanka 4th Phase Bangalore,-,-,11000,11000,-,-,13.1052,77.5714,"['Bus Station', 'Indian Restaurant', 'Snack Pl..."

In [212]:
food_services = ['Ice Cream Shop', 'Butcher', 'Salad Place', 'Dhaba', 'Gaming Cafe', 'Dessert Shop', 'Food Truck', 'Cupcake Shop',
                'Street Food Gathering', 'Coffee Shop', 'Steakhouse', 'Hot Dog Joint', 'Burger Joint', 'Juice Bar', 'Cafeteria',
                'CafÃ©', 'Bakery', 'Bed & Breakfast', 'Pizza Place', 'Soup Place', 'Brewery', 'Hookah Bar', 'Fish & Chips Shop',
                'Restaurant', 'Chaat Place', 'Food Service', 'Taco Place', 'Food Court', 'BBQ Joint', 'Breakfast Spot', 'Lounge',
                'Donut Shop', 'Buffet', 'Food', 'Cocktail Bar', 'Chocolate Shop', 'Wine Shop', 'Bubble Tea Shop', 'Wine Bar',
                'Food Stand', 'Food & Drink Shop', 'Indian Sweet Shop', 'Sandwich Place', 'Fried Chicken Joint', 
                'Fruit & Vegetable Store', 'Gourmet Shop', 'Tea Room', 'Liquor Store', 'Bagel Shop', 'Snack Place', 'Bar',
                'Burrito Place', 'Fish Market', 'Irish Pub', 'Hotel Bar', 'Sports Bar', 'Beer Garden', 'Dive Bar', 'Pub',
                'Beer Bar', 'Diner', 'Gastropub', 'Candy Store', 'Creperie']

shopping_centres = ['Jewelry Store', 'Sporting Goods Shop', 'Convenience Store', 'Optical Shop', 'Boutique', 'Shipping Store',
                    'Bridal Shop', 'Toy / Game Store', 'Miscellaneous Shop', 'Paper / Office Supplies Store', 'Flea Market',
                    'Mobile Phone Shop', 'Cosmetics Shop', 'Automotive Shop', 'Farmers Market', 'Electronics Store',
                    'Department Store', 'Big Box Store', 'Clothing Store', 'Duty-free Shop', "Women's Store", 'Camera Store',
                    'Accessories Store', "Men's Store", 'Shopping Plaza', 'IT Services', 'Gift Shop', 'Bike Shop',
                    'Shop & Service', 'Smoke Shop', 'Outlet Store', 'Flower Shop', 'Watch Shop', 'Market',
                    'Furniture / Home Store', 'Music Store', 'Motorcycle Shop', 'Grocery Store', 'Supermarket',
                    'Arts & Crafts Store', 'Pet Store', 'Outdoor Supply Store', 'Bookstore', 'Shopping Mall', 'Shoe Store',
                    'Kids Store']

leisure_spots = ['Athletics & Sports', 'Stadium', 'Field', 'Historic Site', 'Botanical Garden', 'Garden Center',
                 'Science Museum', 'Badminton Court', 'Deli / Bodega', 'Hockey Arena', 'Plaza', 'Wings Joint', 'Sports Club',
                 'Playground', 'Garden', 'Indie Movie Theater', 'Go Kart Track', 'Lake', 'Movie Theater', 'Neighborhood',
                 'Capitol Building', 'Arcade', 'Football Stadium', 'Rest Area', 'Art Museum', 'Pool', 'Resort', 'Moving Target',
                 'Multiplex', 'Dog Run', 'Planetarium', 'Paintball Field', 'Bowling Alley', 'Performing Arts Venue',
                 'Track Stadium', 'Tennis Stadium', 'Outdoors & Recreation', 'Bridge', 'Event Space', 'Park', 'Dance Studio',
                 'Pool Hall', 'Spiritual Center', 'Boxing Gym', 'Gym Pool', 'Scenic Lookout', 'Racetrack', 'Tennis Court',
                 'Concert Hall', 'Recreation Center', 'Gym', 'Basketball Court', 'Theater', 'Boat or Ferry', 'Hotel Pool',
                 'Toll Plaza', 'Mountain', 'Trail', 'Other Great Outdoors', 'Arts & Entertainment', 'Zoo', 'Nightclub',
                 'Building', 'Bistro', 'Spa', 'Soccer Stadium', 'Hotel', 'Roof Deck', 'Soccer Field', 'Racecourse',
                 'Monument / Landmark', 'Golf Course', 'Gym / Fitness Center', 'General Entertainment', 'Yoga Studio',
                 'Music Venue', 'Campground', 'Lighthouse', 'Art Gallery', 'Bike Trail', 'Road']

gen_services = ['Tech Startup', 'Event Service', 'Airport Service', 'Construction & Landscaping', 'Metro Station', 'Bus Station',
                'Motel', 'ATM', 'Salon / Barbershop', 'General College & University', 'Bus Line', 'Business Service',
                'Airport Terminal', 'Toll Booth', 'Auto Garage', 'Health & Beauty Service', 'Pharmacy', 'Bus Stop',
                'Design Studio', 'Home Service', 'Speakeasy', 'Hospital', 'Platform', 'Intersection', 'Health Food Store',
                'Light Rail Station', 'Tourist Information Center', 'Airport Lounge', 'Airport Gate',
                'Photography Studio', 'Warehouse Store', 'Office', 'Farm', 'Train Station', 'Shoe Repair', 'Coworking Space',
                'Laundromat', 'Airport', 'Gas Station', 'Taxi Stand', 'Boarding House', 'Tattoo Parlor', 'Print Shop',
                'Dry Cleaner']

In [214]:
df['Food Services'] = list(np.zeros(df.shape[0]))
df['Shopping Services'] = list(np.zeros(df.shape[0]))
df['Leisure Services'] = list(np.zeros(df.shape[0]))
df['General Services'] = list(np.zeros(df.shape[0]))

In [215]:
df.head()

,Locality Name,1 BHk rent range,1 BHk avg rent,2 BHk rent range,2 BHk avg rent,3 BHk rent range,3 BHk avg rent,Latitude,Longitude,Venues,Food Services,Shopping Services,Leisure Services,General Services
0,Whitefield,"6,000 - 25,000",11192.86,"12,000 - 25,000",17375,"30,000 - 49,000",39500,12.9698,77.7500,"['Eastern European Restaurant', 'Gym / Fitness...",0.0,0.0,0.0,0.0
1,Anekal City,6300,6300,10000,10000,-,-,12.7105,77.6911,['ATM'],0.0,0.0,0.0,0.0
2,Jigani,"5,800 - 10,500",7466.67,14000,14000,11000,11000,12.7791,77.6436,"['Hotel', 'Indian Restaurant']",0.0,0.0,0.0,0.0
3,Yelahanka,"6,500 - 18,000",10500,"10,000 - 15,000",11500,18500,18500,13.1186,77.5975,[],0.0,0.0,0.0,0.0
4,Horamavu,"5,000 - 23,000",10415.63,"10,000 - 20,000",15535.71,"15,000 - 42,000",23700,13.0326,77.6583,"['Athletics & Sports', 'Warehouse Store', 'Chi...",0.0,0.0,0.0,0.0

In [226]:
for i in range(df.shape[0]):
    
    venue_list = df[i:i+1]['Venues'][i]
    venue_list = ast.literal_eval(venue_list)
    df.at[i, 'Food Services'] = len([x for x in venue_list if 'Restaurant' in x or x in food_services])
    df.at[i, 'Shopping Services'] = len([x for x in venue_list if x in shopping_centres])
    df.at[i, 'Leisure Services'] = len([x for x in venue_list if x in leisure_spots])
    df.at[i, 'General Services'] = len([x for x in venue_list if x in gen_services])

In [227]:
df

,Locality Name,1 BHk rent range,1 BHk avg rent,2 BHk rent range,2 BHk avg rent,3 BHk rent range,3 BHk avg rent,Latitude,Longitude,Venues,Food Services,Shopping Services,Leisure Services,General Services
0,Whitefield,"6,000 - 25,000",11192.86,"12,000 - 25,000",17375,"30,000 - 49,000",39500,12.9698,77.7500,"['Eastern European Restaurant', 'Gym / Fitness...",13.0,1.0,3.0,0.0
1,Anekal City,6300,6300,10000,10000,-,-,12.7105,77.6911,['ATM'],0.0,0.0,0.0,1.0
2,Jigani,"5,800 - 10,500",7466.67,14000,14000,11000,11000,12.7791,77.6436,"['Hotel', 'Indian Restaurant']",1.0,0.0,1.0,0.0
3,Yelahanka,"6,500 - 18,000",10500,"10,000 - 15,000",11500,18500,18500,13.1186,77.5975,[],0.0,0.0,0.0,0.0
4,Horamavu,"5,000 - 23,000",10415.63,"10,000 - 20,000",15535.71,"15,000 - 42,000",23700,13.0326,77.6583,"['Athletics & Sports', 'Warehouse Store', 'Chi...",2.0,0.0,1.0,1.0
5,Whitefield Hope Farm Junction,"14,800 - 21,000",15914.29,18000,18000,"55,000 - 2 L",127500,12.9838,77.7525,"['Vegetarian / Vegan Restaurant', 'Hotel', 'Ic...",6.0,0.0,2.0,0.0
6,Electronic City Phase 1,"5,000 - 11,000",7570.14,5000,5000,"32,000 - 37,000",35000,12.8431,77.6565,"['Asian Restaurant', 'Pizza Place', 'CafÃ©', 'D...",17.0,2.0,2.0,0.0
7,Chandapura,4500,4500,"8,000 - 12,000",9666.67,7000,7000,12.8005,77.7139,"['Indian Restaurant', 'Department Store', 'Res...",2.0,1.0,0.0,0.0
8,Bellandur,13500,13500,"20,000 - 38,000",28884.62,30000,30000,12.9304,77.6784,"['Soccer Field', 'Hotel', 'Lounge', 'Fast Food...",29.0,1.0,6.0,1.0
9,Devanahalli,"13,000 - 40,000",26500,"12,000 - 22,000",16600,"45,000 - 60,000",49000,13.1508,77.7088,[],0.0,0.0,0.0,0.0
10,Electronic City Phase 2,"5,000 - 10,500",8296.88,16750,16750,"15,000 - 28,000",22730.77,12.8441,77.6794,"['Basketball Court', 'Toll Plaza', 'CafÃ©', 'Ou...",3.0,1.0,2.0,1.0
11,KR Puram,"3,000 - 20,000",9728,"10,000 - 22,800",13453.33,14000,14000,13.0170,77.7044,"['Indian Restaurant', 'Pizza Place', 'Indian R...",5.0,0.0,1.0,0.0
12,Harlur,"10,000 - 20,000",14750,18000,18000,33000,33000,12.9017,77.6605,"['Lake', 'North Indian Restaurant', 'Flea Mark...",1.0,1.0,2.0,0.0
13,Budigere Cross,15000,15000,"18,000 - 23,000",20333.33,"20,000 - 80,000",32571.43,13.0638,77.7456,['Cupcake Shop'],1.0,0.0,0.0,0.0
14,Varthur,"6,000 - 16,000",9690,"9,500 - 18,000",12900,"28,000 - 75,000",48333.33,12.9389,77.7412,"['Indie Movie Theater', 'Indian Restaurant']",1.0,0.0,1.0,0.0
15,Jakkur,"8,500 - 9,500",9000,"12,000 - 20,000",16000,"25,000 - 30,000",27500,13.0631,77.6207,"['Badminton Court', 'Sports Club', 'Vegetarian...",1.0,0.0,2.0,0.0
16,Talaghattapura,-,-,"12,000 - 21,000",16400,18000,18000,12.8691,77.5342,"['Indian Restaurant', 'Scenic Lookout', 'India...",3.0,0.0,1.0,1.0
17,Rajarajeshwari Nagar,"6,000 - 15,000",10050,"15,000 - 22,000",18000,"15,000 - 20,000",17500,12.9149,77.5206,"['CafÃ©', 'Indian Restaurant', 'Bakery', 'CafÃ©'...",4.0,2.0,1.0,0.0
18,Hoskote,"9,000 - 11,000",10000,"13,500 - 16,500",15000,"9,000 - 18,000",15000,13.0693,77.7982,[],0.0,0.0,0.0,0.0
19,Marathahalli,"5,500 - 15,000",11187.5,"12,000 - 23,000",18666.67,33000,33000,12.9569,77.7011,"['Kerala Restaurant', 'Indian Restaurant', 'Ve...",26.0,3.0,5.0,0.0
20,Uttarahalli,-,-,12000,12000,"19,000 - 28,000",23666.67,12.9070,77.5521,"['Bakery', 'Pizza Place', 'CafÃ©', 'Indian Rest...",11.0,2.0,3.0,0.0
21,Rajaji Nagar,"9,500 - 14,000",11500,"10,000 - 1.1 L",56717.95,22500,22500,12.9982,77.5530,"['Fast Food Restaurant', 'Bakery', 'Vegetarian...",23.0,4.0,1.0,1.0
22,Banaswadi,"5,000 - 18,000",13509.09,"15,000 - 28,000",19500,"24,000 - 35,000",30500,13.0104,77.6482,"['Indian Restaurant', 'Bakery', 'Vegetarian / ...",8.0,3.0,0.0,1.0
23,Sarjapur,"10,000 - 13,500",11375,"10,000 - 30,000",15250,"20,000 - 30,000",24000,12.8549,77.7881,['Movie Theater'],0.0,0.0,1.0,0.0
24,Thanisandra,"7,500 - 8,500",8000,"14,000 - 25,500",19125,22000,22000,13.0559,77.6325,"['Pharmacy', 'Restaurant', 'Gas Station', 'Ind...",2.0,0.0,0.0,2.0
25,Koramangala,"7,500 - 28,000",14181.82,"15,000 - 50,000",25909.09,"25,000 - 4 L",108000,12.9352,77.6244,"['Fast Food Restaurant', 'Breakfast Spot', 'Ca...",86.0,6.0,5.0,1.0
26,Bommasandra,"8,500 - 9,000",8750,"6,500 - 12,000",8200,"17,000 - 30,000",21909.09,12.8167,77.6974,"['Sporting Goods Shop', 'Electronics Store']",0.0,2.0,0.0,0.0
27,HSR Layout,"7,000 - 30,000",17583.33,"18,500 - 28,000",24450,50000,50000,12.9121,77.6446,"['Snack Place', 'Pizza Place', 'Pub', 'CafÃ©', ...",52.0,4.0,7.0,1.0
28,Mahadevapura,"5,000 - 17,000",10500,"9,500 - 22,000",16333.33,28000,28000,12.9880,77.6895,"['Department Store', 'Coffee Shop', 'Bus Stati...",5.0,2.0,0.0,2.0
29,Horamavu Agara,11800,11800,17800,17800,20800,20800,13.0411,77.6622,['Athletics & Sports'],0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1870,Singapura Village,-,-,10000,10000,-,-,13.0807,77.5363,"['Pharmacy', 'Bus Station', 'Pharmacy', 'Outdo...",0.0,0.0,2.0,3.0
1871,Someshvarapura Layout,13500,13500,-,-,-,-,12.9697,77.6314,"['Indian Restaurant', 'Ice Cream Shop', 'Bar',...",18.0,1.0,2.0,0.0
1872,Sonnenahalli,-,-,14000,14000,-,-,13.0150,77.7381,[],0.0,0.0,0.0,0.0
1873,Spice Garden Road,8500,8500,-,-,-,-,12.9580,77.7089,"['Indian Restaurant', 'Ice Cream Shop', 'India...",24.0,4.0,2.0,0.0
1874,Sri Nivasa Reddy Layout,-,-,32000,32000,-,-,12.9650,77.7116,"['Ice Cream Shop', 'Indian Restaurant', 'Desse...",13.0,3.0,0.0,1.0
1875,Srinivas nagar,-,-,16000,16000,-,-,12.9356,77.5548,"['Vegetarian / Vegan Restaurant', 'Fast Food R...",3.0,0.0,1.0,0.0
1876,Srinivasan Layout,-,-,17000,17000,-,-,12.9187,77.5397,"['Pizza Place', 'Snack Place', 'Department Sto...",4.0,1.0,0.0,0.0
1877,SSI Industrial Area,11000,11000,-,-,-,-,12.9813,77.5580,"['Indian Restaurant', 'Hotel', 'Indian Restaur...",5.0,1.0,1.0,2.0
1878,Stage 1,11235,11235,-,-,-,-,12.9800,77.6400,"['Brewery', 'CafÃ©', 'Boutique', 'Bakery', 'Coc...",57.0,7.0,2.0,0.0
1879,Subbannaiah Palya,-,-,17000,17000,-,-,13.0096,77.6386,"['Falafel Restaurant', 'Kerala Restaurant', 'B...",8.0,1.0,0.0,0.0
1880,Subbannayapalya,-,-,-,-,20000,20000,13.0109,77.6439,"['Falafel Restaurant', 'Bakery', 'Indian Resta...",8.0,4.0,0.0,1.0
1881,Suddaguntapalya,9000,9000,-,-,-,-,12.9828,77.6550,"['Coffee Shop', 'Sandwich Place', 'Shopping Ma...",3.0,1.0,0.0,1.0
1882,Suncity BSM Extension,-,-,12000,12000,-,-,12.9148,77.4745,"['CafÃ©', 'Chinese Restaurant', 'Bus Station']",2.0,0.0,0.0,1.0
1883,SVGNSS Layout,-,-,15000,15000,-,-,12.9959,77.5372,"['Liquor Store', 'Fast Food Restaurant', 'Ice ...",17.0,2.0,2.0,1.0
1884,Syndicate Bank Colony,9500,9500,-,-,-,-,12.8839,77.5952,"['Sporting Goods Shop', 'Department Store', 'P...",10.0,5.0,1.0,2.0
1885,Tech City Layout,-,-,18000,18000,-,-,12.8459,77.6490,"['Multicuisine Indian Restaurant', 'Kerala Res...",9.0,2.0,0.0,0.0
1886,Thigalarapalya,-,-,38000,38000,-,-,13.0168,77.4802,[],0.0,0.0,0.0,0.0
1887,Upkar Layout,-,-,24200,24200,-,-,12.9640,77.4838,"['Lake', 'Park']",0.0,0.0,2.0,0.0
1888,V V Puram,-,-,-,-,22500,22500,12.9537,77.5777,"['Bakery', 'Snack Place', 'Indian Restaurant',...",17.0,0.0,6.0,1.0
1889,Vagdevi Layout,12000,12000,-,-,-,-,12.9469,77.7123,"['Bus Station', 'Shopping Mall', 'Bus Station'...",1.0,1.0,0.0,3.0
1890,Veerannapalya,10000,10000,-,-,-,-,13.0412,77.6124,"['Coffee Shop', 'Hotel', 'Lake', 'Buffet', 'La...",2.0,0.0,3.0,0.0
1891,Venkatadri Layout,-,-,-,-,30500,30500,12.8977,77.5967,"['Indian Restaurant', 'Ice Cream Shop', 'Offic...",21.0,2.0,1.0,1.0
1892,Vijayarangam Layout,-,-,31000,31000,-,-,12.9363,77.5766,"['Indian Restaurant', 'Restaurant', 'Indian Re...",23.0,1.0,4.0,1.0
1893,Vinayaka Nagar,-,-,23000,23000,-,-,12.9633,77.6792,"['Lake', 'Bakery', 'Salon / Barbershop']",1.0,0.0,1.0,1.0
1894,Vivek Nagar,10000,10000,-,-,-,-,12.9545,77.6191,"['CafÃ©', 'Indie Movie Theater', 'Bus Station',...",2.0,0.0,3.0,1.0
1895,Vivekananda Colony,-,-,20000,20000,-,-,12.9119,77.5722,"['Breakfast Spot', 'Indian Restaurant', 'India...",7.0,0.0,0.0,3.0
1896,Wajid Layout,-,-,16900,16900,-,-,13.0606,77.6344,"['Pharmacy', 'Restaurant', 'Department Store',...",2.0,1.0,0.0,1.0
1897,Whitefield Hagadur,16000,16000,-,-,-,-,12.9649,77.7573,"['Brewery', 'Eastern European Restaurant', 'Br...",5.0,0.0,1.0,0.0
1898,Yalappa Garden,-,-,22000,22000,-,-,13.0008,77.5727,"['Snack Place', 'Indian Restaurant', 'Indian R...",33.0,6.0,2.0,0.0
1899,Yelahanka 4th Phase Bangalore,-,-,11000,11000,-,-,13.1052,77.5714,"['Bus Station', 'Indian Restaurant', 'Snack Pl...",6.0,0.0,0.0,1.0

In [228]:
df.to_csv('localities_with_service_data.csv')